<%= form_for(@gtpl) do |f| %>
  <% if @gtpl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gtpl.errors.count, "error") %> prohibited this gtpl from being saved:</h2>

      <ul>
      <% @gtpl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attributes %><br />
    <%= f.text_field :attributes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
